@CHARSET "UTF-8";


#queryDiv {
	
	margin: 1em;
}
#query {
	padding: 1em;
	margin-bottom: 1em;
	text-align: left;
}

input[type=submit] {
	background-color: #1aac9b;
	color: white;
	padding: 8px 22px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	
}

#queryResultDiv {
	margin-top: 1em;
}